.header{
    display: flex;
    justify-content: space-between;
    border: 2ps solid black;
}

.logo{
width: 200px;
}
.nav-items{
padding: 0px 20px;
}

.nav-items > ul{
font-size: 24px;
display: flex;
list-style-type: none;
}

.nav-items > ul > li{
    padding: 10px;
    margin: 10px;
}

.res-card{
    width: 200px;
    height: 300px;
    border: 1px solid black;
}

.search{
    padding: 10px;
}